
  
  .letter-image {
    padding: 50vh;
    width: 60vh;
    height: 20vh;
    position: relative;
    cursor: pointer;
  }
  
  .animated-mail {
    position: absolute;
    height: 250px;
    width: 400px;
    transition: transform 0.4s;
  }
  
  .animated-mail .body {
    position: absolute;
    bottom: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 0 200px 400px;
    border-color: transparent transparent #e95f55 transparent;
    z-index: 2;
  }
  
  .animated-mail .top-fold {
    position: absolute;
    top: 100px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 100px 200px 0 200px;
    transform-origin: 50% 0%;
    transition: transform 0.4s 0.4s, z-index 0.2s 0.4s;
    border-color: #671f1b transparent transparent transparent;
    z-index: 2;
  }
  
  .animated-mail .back-fold {
    position: absolute;
    bottom: 0;
    width: 400px;
    height: 200px;
    background: #671f1b;
    z-index: 0;
  }
  
  .animated-mail .left-fold {
    position: absolute;
    bottom: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 100px 0 100px 200px;
    border-color: transparent transparent transparent #f8958e;
    z-index: 2;
  }
  
  .animated-mail .letter {
    position: absolute;
    left: 25px;
    bottom: 0px;
    width: 350px;
    height: 150px;
    background: rgb(5, 0, 32);
    z-index: 1;
    overflow: hidden;
    transition: transform 0.4s, height 0.4s;
    padding: 20px;
  }
  
  .letter-form {
    display: none;
    text-align: center;
  }
  
  .letter-form.active {
    display: block;
  }
  
  .letter-form h3 {
    margin-bottom: 10px;
    color: #cb5a5e;
  }
  
  .letter-form input,
  .letter-form textarea {
    width: 90%;
    margin: 5px 0;
    padding: 10px;
    border: 1px solid #cb5a5e;
    border-radius: 5px;
  }
  
  .letter-form button {
    background: #cb5a5e;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
  }
  
  .letter-form button:hover {
    background: #e95f55;
  }
  
  .shadow {
    position: absolute;
    top: 600px;
    left: 82%;
    width: 600px;
    height: 50px;
    transition: width 0.4s;
    transform: translateX(-50%);
    border-radius: 100%;
    background: radial-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));
  }
  
  .letter-image.open .animated-mail .letter {
    transform: translateY(-200px); /* Adjusted to translate the letter out */
    height: 300px; /* Makes it look like it's fully outside */
  }
  
  .letter-image.open .letter-form {
    display: block; /* Display the form when the letter is out */
  }
  
  .letter-image.open .animated-mail .top-fold {
    transition: transform 0.4s, z-index 0.2s;
    transform: rotateX(180deg);
    z-index: 0;
  }
  
  .letter-image.open .shadow {
    width: 400px; /* Adjusted for larger size */
  }
  